{% extends "base.html.twig" %}

{% block header_outer %}{% endblock %}

{% block content %}
    <img src="assets/img/page-not-found.jpg" class="responsive-img" />

    <div class="section white-bg page-not-found">
        <div class="content text-center">
            <h1>404 Page Not Found</h1>
            <h2>The page you are looking for could not be found.</h2>
            <p>Check the address bar to ensure your URL is spelled correctly. If all else fails, you can visit our home page at the link below.</p>
            <p><a href="/" class="btn">Visit the Home Page</a>
        </div>
    </div>
{% endblock %}
