{% extends "base.html.twig" %}

{% block content %}
    <h1>Link attributions</h1>

    <p>All images on this site are property of others. This site is non-profit and the original sources are listed below.</p>

    <ul>
        <li>http://wall.alphacoders.com/by_sub_category.php?id=146143</li>
        <li>http://bgr.com/2015/02/23/breaking-bad-interview-gus-fring/</li>
        <li>http://www.fanpop.com/clubs/breaking-bad/images/25306082/title/gus-photo</li>
        <li>http://carrieandjoeyadventure.blogspot.co.uk/2012/05/things-i-am-loving.html</li>
        <li>http://imgur.com/XkHpyPY</li>
    </ul>
{% endblock %}
