{% extends "base.html.twig" %}

{% block content %}
    <div class="content gap">
        <p><a href="/" class="inline-link dark large" onclick="ga('send', 'event', 'Internal Link', 'Back to home');"><i class="fa fa-home"></i> Home</a></p>

        <h2>Link attributions</h2>

        <p>All images on this site have been sourced from the below locations. This site is non-profit and is purely to enable developers to scaffold projects up quickly.</p>
        <p><strong>Please make sure any images used in projects that link to this site are removed in production.</strong></p>

        <ul>
            <li>http://breakingbad.wikia.com/</li>
            <li>http://wall.alphacoders.com/by_sub_category.php?id=146143</li>
            <li>http://bgr.com/2015/02/23/breaking-bad-interview-gus-fring/</li>
            <li>http://www.fanpop.com/clubs/breaking-bad/images/25306082/title/gus-photo</li>
            <li>http://carrieandjoeyadventure.blogspot.co.uk/2012/05/things-i-am-loving.html</li>
            <li>http://imgur.com/XkHpyPY</li>
            <li>https://nicholasconley.wordpress.com/2013/10/03/the-true-hero-of-breaking-bad/</li>
            <li>http://www.denofgeek.us/tv/breaking-bad/168532/5-reasons-why-jesse-pinkman-is-the-unsung-anti-hero-of-breaking-bad</li>
            <li>http://www.comicbookmovie.com/fansites/comicgeek96/news/?a=107742</li>
            <li>http://collider.com/breaking-bad-series-finale-rj-mitte-interview/</li>
            <li>http://spinoff.comicbookresources.com/2014/01/02/breaking-bad-creator-says-mike-ehrmantraut-better-call-saul/</li>
            <li>http://www.fanpop.com/clubs/breaking-bad/images/25306481/title/mike-photo</li>
            <li>http://www.dailydot.com/lol/mike-breaking-bad-fairy-tales/</li>
            <li>http://www.barronnetwork.com/2012/08/30/breaking-bad-say-my-name-recapsis/</li>
            <li>http://www.amc.com/shows/breaking-bad/cast-crew/hank-schrader</li>
            <li>http://portable.tv/culture/post/choosing-sides-buried-breaking-bad-season-5-episode-10-recap/attachment/jesse-hank-breaking-bad-portable/</li>
            <li>https://heisenbergschemistry.wordpress.com/2012/05/19/why-is-heisenbergs-meth-blue/</li>
            <li>http://www.goudamonster.com/2013/09/breaking-bad-blue-meth-cupcakes/</li>
            <li>http://reviewtvshows.com/breaking-bad-review</li>
            <li>http://fav-meth-head-of-the-day.com/2014/03/08/breaking-bad-style-blue-methamphetamine-found-all-over-phoenix/</li>
            <li>http://fansided.com/2013/07/30/breaking-bad-final-season-latest-trailer-released-video/</li>
            <li>http://www.heyuguys.com/4-new-images-breaking-bad-season-5/breaking-bad-2/</li>
            <li>http://www.huffingtonpost.com/2014/01/10/breaking-bad-netflix_n_4577578.html</li>
            <li>http://www.heyuguys.com/4-new-images-breaking-bad-season-5/breaking-bad-1/</li>
            <li>http://www.techinsider.io/breaking-bad-what-episode-got-you-addicted-to-show-2015-9</li>
            <li>http://www.huffingtonpost.com/news/breaking-bad/</li>
            <li>http://www.wallpapervortex.com/wallpaper-20816_breaking_bad.html#.VlRDgN_hCRs</li>
            <li>http://www.goliath.com/interest/breaking-bad/</li>
            <li>http://artnaz.com/breaking-bad-secrets/</li>
            <li>http://www.huffingtonpost.com/2013/08/08/breaking-bad-final-season_n_3720937.html</li>
            <li>http://metro.co.uk/2013/08/21/tohajiilee-to-felina-what-the-remaining-breaking-bad-episode-titles-tell-us-3932012/</li>
            <li>http://collider.com/breaking-bad-finale-vince-gilligan-better-call-saul/</li>
            <li>http://www.businessinsider.com/breaking-bad-season-5-episode-12-reactions-2013-9?IR=T</li>
            <li>http://www.screenjunkies.com/</li>
            <li>http://www.sidereel.com/posts/267415-recap-breaking-bad-deconstruction-ep-15-granite-state</li>
            <li>http://fansided.com/2014/04/11/bryan-cranston-helps-breaking-bad-fan-get-prom-date-video/</li>
            <li>http://www.theverge.com/2014/12/5/7339525/breaking-bad-aaron-paul-yo-bitch-app-jesse-pinkman</li>
            <li>http://metro.co.uk/2014/08/11/when-does-better-call-saul-start-bob-odenkirk-in-first-teaser-4828333/</li>
            <li>http://www.popsugar.com/entertainment/photo-gallery/23728871/image/23728944/Bryan-Cranston-Breaking-Bad</li>
            <li>https://breakingbadlospolloshermanos.wordpress.com/category/breaking-bad-episode-guide/</li>
            <li>http://www.vulture.com/2013/08/how-breaking-bads-science-advisor-keeps-it-real.html</li>
            <li>http://htc-wallpaper.com/2013/09/30/heisenberg-breaking-bad-htc-one-wallpaper/</li>
            <li>http://www.hollywoodreporter.com/live-feed/breaking-bad-final-season-premieres-603999</li>
            <li>http://stuffpoint.com/breaking-bad/image/309989/breaking-bad-wallpaper/</li>
            <li>http://ifearbrooklyn.com/2013/09/06/ifb-presents-the-top-20-recurring-characters-from-amcs-breaking-bad/</li>
            <li>http://www.nydailynews.com/entertainment/tv-movies/prepared-breaking-bad-series-finale-article-1.1468835</li>
            <li>http://villains.wikia.com/wiki/Todd_Alquist</li>
            <li>http://www.independent.co.uk/arts-entertainment/tv/news/better-call-saul-saw-the-surprise-return-of-a-beloved-breaking-bad-character-10032810.html</li>
            <li>http://www.standbyformindcontrol.com/2013/06/breaking-bad-revisited-season-2-episodes-1-2/</li>
            <li>http://www.hollywoodreporter.com/live-feed/breaking-bads-betsy-brandt-why-637552</li>
            <li>http://www.billboard.com/articles/columns/pop-shop/5645521/breaking-bad-character-playlist-8-songs-for-the-final-season</li>
            <li>http://www.amc.com/shows/breaking-bad/season-4/episode-03-open-house</li>
            <li>http://collider.com/breaking-bad-recap-open-house/</li>
        </ul>
    </div>
{% endblock %}
