{% extends "base.html.twig" %}

{% block content %}
    <div class="content">
        <p><a href="/" class="inline-link dark large" onclick="ga('send', 'event', 'Internal Link', 'Back to home');"><i class="fa fa-home"></i> Home</a></p>

        <h2>Link attributions</h2>

        <p>All images on this site have been sourced from the below locations. This site is non-profit and is purely to enable developers to scaffold projects up quickly.</p>
        <p><strong>Please make sure any images used in projects that link to this site are removed in production.</strong></p>

        <ul>
            <li>http://wall.alphacoders.com/by_sub_category.php?id=146143</li>
            <li>http://bgr.com/2015/02/23/breaking-bad-interview-gus-fring/</li>
            <li>http://www.fanpop.com/clubs/breaking-bad/images/25306082/title/gus-photo</li>
            <li>http://carrieandjoeyadventure.blogspot.co.uk/2012/05/things-i-am-loving.html</li>
            <li>http://imgur.com/XkHpyPY</li>
            <li>https://nicholasconley.wordpress.com/2013/10/03/the-true-hero-of-breaking-bad/</li>
            <li>http://www.denofgeek.us/tv/breaking-bad/168532/5-reasons-why-jesse-pinkman-is-the-unsung-anti-hero-of-breaking-bad</li>
            <li>http://breakingbad.wikia.com/wiki/Walter_White_Jr.</li>
            <li>http://www.comicbookmovie.com/fansites/comicgeek96/news/?a=107742</li>
            <li>http://collider.com/breaking-bad-series-finale-rj-mitte-interview/</li>
            <li>http://breakingbad.wikia.com/wiki/Saul_Goodman</li>
            <li>http://spinoff.comicbookresources.com/2014/01/02/breaking-bad-creator-says-mike-ehrmantraut-better-call-saul/</li>
            <li>http://www.fanpop.com/clubs/breaking-bad/images/25306481/title/mike-photo</li>
            <li>http://www.dailydot.com/lol/mike-breaking-bad-fairy-tales/</li>
            <li>http://breakingbad.wikia.com/wiki/File:5x2_Mike_interrogation.png</li>
            <li>http://www.barronnetwork.com/2012/08/30/breaking-bad-say-my-name-recapsis/</li>
            <li>http://www.amc.com/shows/breaking-bad/cast-crew/hank-schrader</li>
        </ul>
    </div>
{% endblock %}
