{% extends "base.html.twig" %}

{% block header %}
    <img src="assets/img/release-header.jpg" class="header-img" />
{% endblock %}

{% block content %}
    <div class="section white-bg">
        <div class="content">
            <p><a href="/" class="inline-link dark large" onclick="ga('send', 'event', 'Internal Link', 'Back to home');"><i class="fa fa-home"></i> Home</a></p>
            <h1 class="title">Vamonos Pest Control has stamped out all these bugs</h1>
        </div>
    </div>

    <div class="section light-grey-bg">
        <div class="content">
            <h2>Release v3.0.0 - Framework Rebuild</h2>
            <p><strong>September 2016</strong></p>

            <h3><i class="fa fa-bug"></i> Bugs</h3>
            <ul>
                <li>Minor changes to 404 layout</li>
                <li>Minor changes to attributions page</li>
            </ul>

            <h3><i class="fa fa-check"></i> Features</h3>
            <ul>
                <li>Rebuilt Placing Bad into Silex and removed Slim PHP Framework</li>
            </ul>
        </div>
    </div>

    <div class="section white-bg">
        <div class="content">
            <h2>Release v2.0.0</h2>
            <p><strong>Novemeber 2015</strong></p>

            <h3><i class="fa fa-bug"></i> Bugs</h3>
            <ul>
                <li>Using URL parameter on home page no longer breaks images</li>
                <li>Image load times have been dramatically improved (caching added)</li>
                <li>404 Page added to help with url errors</li>
            </ul>

            <h3><i class="fa fa-check"></i> Features</h3>
            <ul>
                <li>URl parameters for: sepia, desaturate, colour, blur, pixelate and brightness added</li>
                <li>Random url parameter added so you can force a size to load a new image each time</li>
                <li>All route added to get images from all categories</li>
                <li>New categories added: lab, mineral, meth, rock</li>
                <li>New people added: tuco, marie, todd</li>
                <li>Homepage re-styled to include new features documentation and examples</li>
                <li>Social sharing added - Share with your friends!</li>
            </ul>
        </div>
    </div>

    <div class="section light-grey-bg">
        <div class="content">
            <h2>Release v1.0.0 - Initial Release</h2>
            <p><strong>Novemeber 2015</strong></p>

            <h3><i class="fa fa-check"></i> Features</h3>
            <ul>
                <li>Original cast of characters</li>
                <li>Sizes crop and serve images</li>
            </ul>
        </div>
    </div>
{% endblock %}
