<!doctype html>
<html>
	<head>
        {% block head %}
            <meta charset="utf-8" />
            <meta name="description" content="Placing Bad - image placeholder generator" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />

            <title>{% block title %}Placing Bad{% endblock %}</title>

            <link rel="apple-touch-icon" sizes="57x57" href="assets/img/favicons/apple-touch-icon-57x57.png">
            <link rel="apple-touch-icon" sizes="60x60" href="assets/img/favicons/apple-touch-icon-60x60.png">
            <link rel="apple-touch-icon" sizes="72x72" href="assets/img/favicons/apple-touch-icon-72x72.png">
            <link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicons/apple-touch-icon-76x76.png">
            <link rel="apple-touch-icon" sizes="114x114" href="assets/img/favicons/apple-touch-icon-114x114.png">
            <link rel="apple-touch-icon" sizes="120x120" href="assets/img/favicons/apple-touch-icon-120x120.png">
            <link rel="apple-touch-icon" sizes="144x144" href="assets/img/favicons/apple-touch-icon-144x144.png">
            <link rel="apple-touch-icon" sizes="152x152" href="assets/img/favicons/apple-touch-icon-152x152.png">
            <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon-180x180.png">
            <link rel="icon" type="image/png" href="assets/img/favicons/favicon-32x32.png" sizes="32x32">
            <link rel="icon" type="image/png" href="assets/img/favicons/favicon-194x194.png" sizes="194x194">
            <link rel="icon" type="image/png" href="assets/img/favicons/favicon-96x96.png" sizes="96x96">
            <link rel="icon" type="image/png" href="assets/img/favicons/android-chrome-192x192.png" sizes="192x192">
            <link rel="icon" type="image/png" href="assets/img/favicons/favicon-16x16.png" sizes="16x16">
            <link rel="manifest" href="assets/img/favicons/manifest.json">
            <link rel="mask-icon" href="assets/img/favicons/safari-pinned-tab.svg" color="#000000">
            <meta name="msapplication-TileColor" content="#da532c">
            <meta name="msapplication-TileImage" content="assets/img/favicons/mstile-144x144.png">
            <meta name="theme-color" content="#ffffff">

            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
            <link rel="stylesheet" type="text/css" href="assets/css/main.css" />

            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
            <script type="text/javascript" src="assets/lib/vendor/highlight.min.js"></script>
            <script>
                hljs.initHighlightingOnLoad();
            </script>
        {% endblock %}
	</head>

	<body>
        <header>
            <div class="content">
    			<h1>Placing Bad</h1>
                <div class="narrow">
                    <p>This is a placeholder generator for developers to add to their sites, to help with testing. But what developer doesn't like Breaking Bad.</p>
                    <p class="quote">&ldquo;I am the one who...adds placeholders to my site&rdquo;</p>
                </div>
            </div>
        </header>

        <main>
            {% block content %}{% endblock %}
		</main>

        <footer>
            <p>Built by<br />
                <a href="http://designyourcode.io" target="_blank" onclick="ga('send', 'event', 'External Link', 'DesignyourCode Site');"><img class="logo" src="assets/img/designyourcode.png" alt="designyourcode.io"></a>
            </p>

            <p><strong>With support from:</strong><br />
                <a href="https://github.com/simonstaton" target="_blank" onclick="ga('send', 'event', 'External Link', 'Simon's Github');">simonstaton</a> | <a href="https://github.com/garyfagan1987" target="_blank" onclick="ga('send', 'event', 'External Link', 'Gary's Github');">garyfagan1987</a> | <a href="https://github.com/zsturgess" target="_blank" onclick="ga('send', 'event', 'External Link', 'Zac's Github');">zsturgess</a>
            </p>

            <p><a href="https://github.com/DesignyourCode/placing-bad" onclick="ga('send', 'event', 'External Link', 'Placing Bad's Github');">Visit the project on Github<br /><i class="fa fa-github"></i></a></p>
        </footer>

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-70403883-1', 'auto');
            ga('send', 'pageview');
        </script>
	</body>
</html>
